USE [master]
GO
/****** Object:  Database [AgroCP]    Script Date: 02/01/2022 14:04:30 ******/
CREATE DATABASE [AgroCP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AgroCP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019_DS\MSSQL\DATA\AgroCP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AgroCP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019_DS\MSSQL\DATA\AgroCP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AgroCP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AgroCP]
GO
/****** Object:  Table [dbo].[CIDADES]    Script Date: 02/01/2022 14:04:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIDADES](
	[Codigo] [int] NOT NULL,
	[Nome] [nchar](100) NOT NULL,
	[CodigoEstado] [int] NOT NULL,
 CONSTRAINT [PK_CIDADES] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADOS]    Script Date: 02/01/2022 14:04:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOS](
	[Codigo] [int] NOT NULL,
	[Nome] [nvarchar](50) NULL,
	[UF] [nchar](10) NOT NULL,
 CONSTRAINT [PK_ESTADOS] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FUNCAO]    Script Date: 02/01/2022 14:04:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUNCAO](
	[Codigo] [int] NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_FUNCAO] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOG]    Script Date: 02/01/2022 14:04:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG](
	[Codigo] [int] NOT NULL,
	[Funcao] [nvarchar](100) NOT NULL,
	[Acao] [nvarchar](max) NOT NULL,
	[Data] [datetime] NOT NULL,
 CONSTRAINT [PK_LOG] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PESSOAS]    Script Date: 02/01/2022 14:04:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PESSOAS](
	[Codigo] [int] NOT NULL,
	[Nome] [nvarchar](130) NOT NULL,
	[CPF] [nchar](11) NOT NULL,
	[CodigoCidade] [int] NOT NULL,
	[CodigoEstado] [int] NOT NULL,
 CONSTRAINT [PK_PESSOAS] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CIDADES]  WITH CHECK ADD  CONSTRAINT [FK_CIDADES] FOREIGN KEY([CodigoEstado])
REFERENCES [dbo].[ESTADOS] ([Codigo])
GO
ALTER TABLE [dbo].[CIDADES] CHECK CONSTRAINT [FK_CIDADES]
GO
ALTER TABLE [dbo].[PESSOAS]  WITH CHECK ADD  CONSTRAINT [FK_PESSOAS] FOREIGN KEY([CodigoCidade])
REFERENCES [dbo].[CIDADES] ([Codigo])
GO
ALTER TABLE [dbo].[PESSOAS] CHECK CONSTRAINT [FK_PESSOAS]
GO
ALTER TABLE [dbo].[PESSOAS]  WITH CHECK ADD  CONSTRAINT [FK_PESSOAS_2] FOREIGN KEY([CodigoEstado])
REFERENCES [dbo].[ESTADOS] ([Codigo])
GO
ALTER TABLE [dbo].[PESSOAS] CHECK CONSTRAINT [FK_PESSOAS_2]
GO
USE [master]
GO
